<section id='about' class="s-about">

    <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
            <!-- <h3 class="subhead subhead--dark">Hello There</h3> -->
            <h3 class="subhead subhead--dark">Conheça-nos</h3>
            <h1 class="display-1 display-1--light">Quem Somos</h1>
        </div>
    </div>

    <div class="row about-desc" data-aos="fade-up">
        <div class="col-full">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </p>
        </div>
    </div>


    <div class="about__line"></div>

</section>