<section id="contact" class="s-contact">

    <div class="overlay"></div>
    <div class="contact__line"></div>

    <div class="row section-header" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Cadastrar Projeto</h3>
            <h1 class="display-2 display-2--light">Que tal dar um upgrade e divulgar seu projeto?</h1>
        </div>
    </div>

    <div class="row contact-content" data-aos="fade-up">
        
        <div class="contact-primary">

            <h3 class="h6">Inserir os dados</h3>

            <!-- <form name="contactForm" id="contactForm" method="post" action="" novalidate="novalidate"></form> -->
                <fieldset>

                <div class="form-field">
                    <input (input)="nomeResponsavel = $event.target.value" name="contactName" type="text" id="contactName" placeholder="Nome do Responsável" value="" minlength="2" required="" aria-required="true" class="full-width">
                </div>
                <div class="form-field">
                    <input (input)="nomeProjeto = $event.target.value" name="projecttName" type="text" id="projecttName" placeholder="Nome do Projeto" value="" minlength="5" required="" aria-required="true" class="full-width">
                </div>
                <div class="form-field">
                    <input (input)="endereco = $event.target.value" name="contactSubject" type="text" id="contactSubject" placeholder="Endereço" value="" class="full-width">
                </div>
                <div class="form-field">
                    <input (input)="email = $event.target.value" name="contactEmail" type="email" id="contactEmail" placeholder="E-mail" value="" required="" aria-required="true" class="full-width">
                </div>
                <div class="form-field">
                    <input (input)="telefone = $event.target.value" name="phoneNumber" type="text" id="phoneNumber" placeholder="Telefone para contato" value="" class="full-width">
                </div>
                <div class="form-field">
                    <textarea (input)="descricao = $event.target.value" name="contactMessage" id="contactMessage" placeholder="Conte um pouco sobre o projeto..." rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                </div>
                <div class="form-field">
                    <button class="full-width btn--primary" (click)="cadastrarProjeto()" >Cadastrar</button>
                    <div class="submit-loader">
                        <div class="text-loader">Salvando...</div>
                        <div class="s-loader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>

                </fieldset>
            <!-- </form> -->

            <!-- contact-warning -->
            <div class="message-warning">
                Ops, algo deu errado. Tente novamente.
            </div> 
        
            <!-- contact-success -->
            <div class="message-success">
                Projeto cadastrado com sucesso, boa sorte!<br>
            </div>

        </div> <!-- end contact-primary -->

        <div class="contact-secondary">
            <div class="contact-info">

                <h3 class="h6 hide-on-fullwidth">Contato</h3>

                <div class="cinfo">
                    <h5>Where to Find Us</h5>
                    <p>
                        1600 Amphitheatre Parkway<br>
                        Mountain View, CA<br>
                        94043 US
                    </p>
                </div>

                <div class="cinfo">
                    <h5>Email Us At</h5>
                    <p>
                        contact@glintsite.com<br>
                        info@glintsite.com
                    </p>
                </div>

                <div class="cinfo">
                    <h5>Call Us At</h5>
                    <p>
                        Phone: (+63) 555 1212<br>
                        Mobile: (+63) 555 0100<br>
                        Fax: (+63) 555 0101
                    </p>
                </div>

                <ul class="contact-social">
                    <li>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end contact-social -->

            </div> <!-- end contact-info -->
        </div> <!-- end contact-secondary -->

    </div> <!-- end contact-content -->

</section> <!-- end s-contact -->