<!-- About -->
<section class="content-section bg-light" id="about">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Adicionar Projeto</h3>
            <h2 class="mb-5">Adicione um novo projeto</h2>
        </div>
        <div class="row">
            <form class="col-md-6 col-xs-12">
                <!-- <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="tituloProjeto">Título</label>
                        <input type="text" class="form-control" id="tituloProjeto" placeholder="Título">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="descricao">Descrição</label>
                        <input type="text" class="form-control" id="descricao" placeholder="Descrição">
                    </div>
                </div> -->
                <div class="form-group">
                    <label for="tituloProjeto">Título do Projeto</label>
                    <input type="text" class="form-control" id="tituloProjeto" placeholder="Título">
                </div>
                <div class="form-group">
                    <label for="inputAddress">Endereço</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Av. Ipiranga ...">
                </div>
                <div class="form-group">
                    <label for="inputCity">Cidade</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="Porto Alegre">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="inputState">Estado</label>
                        <select id="inputState" class="form-control">
                            <option selected > Selecione </option>
                            <option> Acre (AC) </option>
                            <option> Acre (AC) </option>
                            <option> Alagoas (AL) </option>
                            <option> Amapá (AP) </option>
                            <option> Amazonas (AM) </option>
                            <option> Bahia (BA) </option>
                            <option> Ceará (CE) </option>
                            <option> Distrito Federal (DF) </option>
                            <option> Espírito Santo (ES) </option>
                            <option> Goiás (GO) </option>
                            <option> Maranhão (MA) </option>
                            <option> Mato Grosso (MT) </option>
                            <option> Mato Grosso do Sul (MS) </option>
                            <option> Minas Gerais (MG) </option>
                            <option> Pará (PA) </option>
                            <option> Paraíba (PB) </option>
                            <option> Paraná (PR) </option>
                            <option> Pernambuco (PE) </option>
                            <option> Piauí (PI) </option>
                            <option> Rio de Janeiro (RJ) </option>
                            <option> Rio Grande do Norte (RN) </option>
                            <option> Rio Grande do Sul (RS) </option>
                            <option> Rondônia (RO) </option>
                            <option> Roraima (RR) </option>
                            <option> Santa Catarina (SC) </option>
                            <option> São Paulo (SP) </option>
                            <option> Sergipe (SE) </option>
                            <option> Tocantins (TO) </option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputZip">CEP</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nomeResponsavel">Nome do Responsável</label>
                        <input type="text" class="form-control" id="nomeResponsavel" placeholder="Nome do Responsável">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cargoResponsavel">Cargo do Responsável</label>
                        <input type="text" class="form-control" id="cargoResponsavel" placeholder="Cargo do Responsável">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nomeResponsavel">CPF ou CNPJ</label>
                        <input type="text" class="form-control" id="cpfCnpj">
                    </div>
                </div>
                <div class="form-group">
                    <label for="imagemProjeto">Imagem</label>
                    <input type="file" class="form-control-file border" name="file" id="imagemProjeto">
                </div>
                <div class="form-group">
                    <label for="validationTextarea">Descrição</label>
                    <textarea class="form-control" id="validationTextarea" placeholder="Descreva um pouco sobre o projeto..."></textarea>                    
                </div>
                <button class="btn btn-primary">Cadastrar</button>
                <!-- <button type="submit" class="btn btn-primary">Cadastrar</button> -->
            </form>
        </div>
    </div>
</section>