.content-section {
    .container {
        .content-section-heading {
            text-align: center;
        }
        form {
            margin: 0 auto;

            .row-button {
                padding-top: 30px;
                
                button {
                    margin: 0 auto;
                }
            }
        }
    }   
}