.services-list {
    .service-item {
        .service-icon img {
            border-radius: 50%;
            height: 48px;
            width: 48px;
        }
        .div-btn-go {
            text-align: right;
            
            button {

            }
        }
    }
}

#portfolio {
    .no-gutters {
        img {
            width: 555px;
            height: 370px; 
        }
    }
}