<section id='about' class="s-about">

    <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
            <!-- <h3 class="subhead subhead--dark">Hello There</h3> -->
            <h3 class="subhead subhead--dark">Conheça-nos</h3>
            <h1 class="display-1 display-1--light">Quem Somos</h1>
        </div>
    </div>

    <div class="row about-desc" data-aos="fade-up">
        <div class="col-full">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt. 
            </p>
        </div>
    </div>

    <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">
            
        <div class="col-block stats__col ">
            <div class="stats__count">127</div>
            <h5>Projetos Sociais</h5>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">109</div>
            <h5>Causas Humanitárias</h5>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">1505</div>
            <h5>Beneficários</h5>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">102</div>
            <h5>ONG`s</h5> 
        </div>

    </div>

    <div class="about__line"></div>

</section>

<section id='services' class="s-services">

    <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Alguns Projetos</h3>
            <h1 class="display-2">Conheça projetos que já estão obtendo resultados significativos</h1>
            <!-- <h1 class="display-2">We’ve got everything you need to launch and grow your business</h1> -->
        </div>
    </div>

    <div class="row services-list block-1-2 block-tab-full">

        <div class="col-block service-item" data-aos="fade-up" *ngFor="let projeto of projetos; let i = index">
            <div class="service-icon">
                <!-- <i class="icon-paint-brush"></i> -->
                <img src="assets/img/{{projeto.url_img}}">
            </div>
            <div class="service-text">
                <h3 class="h2"> {{ projeto.titulo }} </h3>
                <p> {{ projeto.descricao }} </p>
            </div>
            <div class="div-btn-go">
                <button class="btn btn-small">
                    Ver mais
                </button>
            </div>
        </div>

    </div>

</section>